@import "bourbon/bourbon";

@mixin user-select($v){
    -moz-user-select: $v;
    -webkit-user-select: $v;
    -ms-user-select: $v;
}

html {
    height: 100%;
}
body {
    height: 100%; margin: 0; padding: 0; overflow: hidden;
}

#pano {
    float: left;
    width: 50%;
    height: 100%;
}

#code {
    position: absolute;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    font-family: Monospace;
    font-size: 14px;
    font-weight: bold;
    white-space: pre-wrap;
    text-shadow: black 0px 1px 3px;
    outline: none;
    resize: none;
    opacity: 1;
    @include transition-property(background-color, opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in);

    &:hover {
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-out);
        background-color: rgba(24, 28, 22, 0.8);
        @include box-shadow(inset, rgba(0, 0, 0, 1), 0px, 0px, 5px);
    }
}
#code.error {
    color: #f00;
}
#code.shut {
    opacity: 0;
}

#code-toggle {
    position: absolute;
    left: 12px; top: 12px;
    stroke: #fff; fill: #555;
    stroke-width: 2px;
    cursor: pointer;
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);
}
#code-toggle.open {
    @include transform(rotate(45deg));
}
#code-toggle.shut {
    @include transform(rotate(0deg));
}

#gl-canvas {
    width: 100%;
    height: 100%;
    @include user-select(none);
}

#map {
    width: auto;
    height: 100%;
    @include user-select(none);
}
