@import "bourbon/bourbon";

@mixin user-select($v){
    -moz-user-select: $v;
    -webkit-user-select: $v;
    -ms-user-select: $v;
}

html {
    height: 100%;
}
body {
    font-family: Helvetica, sans-serif;
    height: 100%; margin: 0; padding: 0; overflow: hidden;
    scroll: none;
}

a {
    text-decoration: none;
}

#left, #right {
    position: absolute;
    top: 0; left: 0; bottom: 0;
}
#left {
    width: 50%;
    &.full {
        width: 100%;
    }
}
#right {
    right: 0;
    margin-left: 50%;
}

#code {
    position: absolute;
    left: 30px; right: 30px; top: 30px; bottom: 48px;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    @include transition-property(background-color, opacity);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    &:hover {
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-out);
        background-color: rgba(24, 28, 22, 0.8);
        @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px 0px 6px);
    }
    &.shut {
        opacity: 0;
    }
}
#code-text {
    margin: 0;
    border: 0;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    font-family: Monospace;
    font-size: 14px;
    font-weight: bold;
    white-space: pre-wrap;
    text-shadow: #000 0px 1px 3px;
    &.error {
        color: #f00;
    }
}

#code-toggle {
    position: absolute;
    left: 12px; top: 12px;
    stroke: #fff; fill: #444;
    stroke-width: 2px;
    cursor: pointer;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    @include transition-timing-function(ease-out);
    @include transition-duration(0.2s);
    &:hover {
        fill: #0098cc;
    }
    &.open {
        @include transform(rotate(45deg));
        fill: #000;
    }
    &.shut {
        @include transform(rotate(0deg));
    }
}

#gl-canvas, #no-webgl, #map {
    width: 100%;
    height: 100%;
}

#gl-canvas {
    cursor: hand;
    @include user-select(none);
}

#no-webgl {
    & p {
        background-color: #f40;
        color: #fff;
        margin: 50px;
        padding: 20px;
    }
}

#map {
    @include user-select(none);
}

#panoui {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 14px 10px 14px;
    & a {
        float: left;
        margin: 0 5px 0 0;
        padding: 1px 10px 1px 10px;
        border-radius: 99px;
        border: solid 2px #fff;
        background-color: #444;
        color: #fff;
        &:hover {
            background-color: #0098cc;
        }
        &.r {
            float: right;
            margin: 0 0 0 5px;
        }
    }
}

#mapui {
    padding: 11px 0 11px 0;
    background-color: #f2f3f0;
}

#mapui, .input-border {
    @include box-shadow(inset rgba(0,0,0,0.2) 0px 1px 4px);
}

#mapui, #mapui input, #panoui a {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -0.05em;
    line-height: 1.5em;
}
#mapui input, #panoui a {
    font-size: 14px;
    font-weight: bold;
}

.input-border {
    margin: 0 15px 0 15px;
    padding: 0 20px 0 20px;
    border: solid 2px #999;
    color: #000;
    background-color: #fff;
    border-radius: 99px;
    &.focus {
        border-color: #0098cc;
    }
    & input {
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        outline: 0;
        background-color: transparent;
    }
}

.grabbable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#about {
    position: absolute;
    width: 420px;
    padding: 10px;
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: -0.1em;
    line-height: 1.5em;
    color: #fff;
    background-color: #f40;
    border-radius: 2px;
    & h1 {
        margin: 0 0 0.25em 0;
    }
    & p {
        margin: 0;
    }
    & ul {
        margin: 15px 0 5px 10px;
        padding: 0;
    }
    & li {
        font-family: Courier, monospace;
        font-size: 90%;
        list-style-type: none;
        line-height: 1.2em;
    }
}

#about-backdrop {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#forkme {
    position: absolute;
    top: 0;
    right: 0;
}
